@model GamesGlobalAssessment.Models.LoginViewModel

<div class="well white full-body max-body" style="background: url('@Url.Content("~/css/images/tv.jpg")');">
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-11">
                <h1 class="control-label md-Padding-Top-5 align-center">Login</h1>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Email</b></label>
            </div>
            <div class="col-md-3">
                <input asp-for="Email" class="form-control" required="required" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Password</b></label>
            </div>
            <div class="col-md-3">
                <input asp-for="Password" class="form-control" required="required" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Remember Me</b></label>
            </div>
            <div class="col-md-3 md-Padding-Top-5">
                <input class="form-check-input" style="width:20px;height:20px" asp-for="RememberMe" />
            </div>
        </div>
        <div class="row md-Padding-Top-170 align-center">         
        </div>
        <div class="row md-Padding-Top-50 align-center md-Padding-Right-15">
            <div class="col-md-11">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
        <div class="row md-Padding-Top-170 align-center">
        </div>
        <div class="row md-Padding-Top-80 align-center">
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
