@model GamesGlobalAssessment.Models.RegisterViewModel

<div class="well white">
    <form id="account" method="post" style="background: url('@Url.Content("~/css/images/tv.jpg")');">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-11">
                <h1 class="control-label md-Padding-Top-5 align-center">Register</h1>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Email</b></label>
            </div>
            <div class="col-md-3">
                <input asp-for="Email" class="form-control" required="required" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Password</b></label>
            </div>
            <div class="col-md-3">
                <input asp-for="Password" class="form-control" required="required" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-50 align-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-1 align-left">
                <label class="control-label md-Padding-Top-5"><b>Confirm Password</b></label>
            </div>
            <div class="col-md-3">
                <input asp-for="ConfirmPassword" class="form-control" required="required" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-100 align-center">
        </div>
        <div class="row md-Padding-Top-5 align-center">
        </div>
        <div class="row md-Padding-Top-50 align-center md-Padding-Right-15">
            <div class="col-md-11">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
        <div class="row md-Padding-Top-170 align-center">
        </div>
        <div class="row md-Padding-Top-80 align-center">
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



