@model GamesGlobalAssessment.Models.TVShow

@{
    ViewData["Title"] = "Delete";
}

<div class="well white">
    <form asp-action="Delete" style="background: url('@Url.Content("~/css/images/tv2.jpg")');">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row md-Padding-Top-100">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="display-4">Remove TV Show</h1>
            </div>
        </div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <label class="control-label md-Padding-Top-5"><b>Title</b></label>
            </div>
            <div class="col-md-2">
                <label asp-for="Title" class="form-control" disabled="disabled" />
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <label class="control-label md-Padding-Top-5"><b>Year</b></label>
            </div>
            <div class="col-md-2">
                <label asp-for="Year" class="form-control" disabled="disabled" />
                @Html.DisplayFor(model => model.Year)
            </div>
        </div>
        <div class="row md-Padding-Top-50">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <label class="control-label md-Padding-Top-5"><b>Created By</b></label>
            </div>
            <div class="col-md-2">
                <label asp-for="CreatedBy" class="form-control" disabled="disabled" />
                @Html.DisplayFor(model => model.CreatedBy)
            </div>
        </div>
        <div class="row md-Padding-Top-70">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
        <div class="row md-Padding-Top-80">
            <div class="col-md-2">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>
